.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__

# Local configuration files
*.env
*.local
*.local.json
*.local.yaml
# /translation_tools/pubilc/css/styles.css
/translation_tools/public/dist/

