.bunchee-sidebar-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
.bunchee-theme-trigger {
    gap: 2px;
  }

.bunchee-lang-trigger {
    gap: 2px;
  }
  
.bunchee-theme-icon {
    margin-right: 6px;
    align-items: center;
    display: flex;
  }

.bunchee-lang-icon {
    margin-right: 6px;
    align-items: center;
    display: flex;
  }